@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.wallet {
  display: flex;
  padding: 3rem 3rem 1rem 3rem;
  flex-direction: row-reverse;
}

.center {
  position: relative;
  padding: 3rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form > * + * {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: rgb(var(--on-accent-rgb));
  background-color: rgb(var(--accent-rgb));
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 14px;
  font-weight: 600;
}

.form button:hover {
  cursor: pointer;
  background-color: rgb(var(--darker-accent-rgb));
}

.form button span {
  white-space: nowrap;
}

.form button svg {
  width: 1rem;
  fill: currentColor;
}

.field {
  display: block;
}

.field span {
  font-weight: 600;
  font-size: 14px;
}

.field input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: .5rem;
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  background: rgb(var(--secondary-background-rgb));
  color: rgb(var(--hint-rgb));
  font-size: 1rem;
  line-height: 1.5;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.success {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  background: rgb(var(--secondary-background-rgb));
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  padding: 1rem;
}

.success > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.success code {
  font-family: var(--font-mono);
  color: rgb(var(--secondary-foreground-rgb));
}

.success svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
}

.success:hover {
  background-color: rgb(var(--hover-background-rgb));
}

.success:hover code {
  color: rgb(var(--accent-rgb));
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.catalog {
  background-color: #FCC737;
  flex: 2 1 30%;
}

.purchase {
  flex: 1 1 30%;
  max-width: 600px;
}

.catalogList {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  gap: 1em;
  padding: 2rem 0rem 1rem 0rem;
}

.catalogList__empty {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.catalogList__empty .wallet-adapter-button {

}

.catalogList__title {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(46px, 3.594vw, 118px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
  color: #7E1891;
}

.catalogList__description {
  padding-left: 20px;
  padding-right: 20px;
}

.catalogList__link {
  color: #255DCC;
  text-decoration: underline;
}

.catalogList__item {
  max-width: 200px;
  flex: 1 1 30%;
}

.emptyCard__cont {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.catalogList__card {

}

.catalogList__card:hover {
  display: block;
  transition: all 0.1s ease-in-out;
  transform: translate(-4px, -4px);
  box-shadow: 6px 6px 6px 6px rgba(27, 24, 51, .5);
  cursor: pointer;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.photos__item {
  flex: 0 0 100%;
}

.emptyCard {
  border: 1px solid gray;
  height: 100%;
}

@media screen and (max-width: 1081px) {
  .purchase {
    order: 1;
    flex: 1 0 100%;
  }

  .catalog {
    order: 2;
    flex: 1 0 100%;
  }
}